.melody-icon {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

.melody-custom-font {
    /* use !important to prevent issues with browser extensions that change fonts */
    @apply melody-font-melodyIcons !important;
}

/**Note: This is used for it to work in storybook as the above tailwind property is not defined correctly as '--melody-icon-font' var is missing. Next/font/local not working correctly*!*/
.melody-custom-font-storybook-hack {
    font-family: 'melody_icons' !important;
}