@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Atami Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Atami-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Atami Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Atami-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1er2f0');
    src: url('../fonts/icomoon.eot?1er2f0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1er2f0') format('truetype'),
    url('../fonts/icomoon.woff?1er2f0') format('woff'),
    url('../fonts/icomoon.svg?1er2f0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

.melody-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.melody-read:before {
  content: "\e900";
}
.melody-bin:before {
  content: "\e901";
}
.melody-favorite:before {
  content: "\e902";
}
.melody-archive:before {
  content: "\e903";
}
.melody-image:before {
  content: "\e904";
}
.melody-link:before {
  content: "\e905";
}
.melody-settings:before {
  content: "\e906";
}
.melody-staff-management:before {
  content: "\e907";
}
.melody-history:before {
  content: "\e908";
}
.melody-payment-settings:before {
  content: "\e909";
}
.melody-public-site:before {
  content: "\e90a";
}
.melody-site-builder:before {
  content: "\e90b";
}
.melody-visibility:before {
  content: "\e90c";
}
.melody-accounting:before {
  content: "\e90d";
}
.melody-calendar:before {
  content: "\e90e";
}
.melody-email:before {
  content: "\e90f";
}
.melody-file-storage:before {
  content: "\e910";
}
.melody-promotion:before {
  content: "\e911";
}
.melody-blog-post:before {
  content: "\e912";
}
.melody-content:before {
  content: "\e913";
}
.melody-csv:before {
  content: "\e914";
}
.melody-kanban:before {
  content: "\e915";
}
.melody-tools:before {
  content: "\e916";
}
.melody-artist:before {
  content: "\e917";
}
.melody-home:before {
  content: "\e918";
}
.melody-info:before {
  content: "\e919";
}
.melody-merchandise:before {
  content: "\e91a";
}
.melody-releases:before {
  content: "\e91b";
}
.melody-content-management:before {
  content: "\e91c";
}
.melody-org-tools:before {
  content: "\e91e";
}
.melody-legal:before {
  content: "\e91f";
}
.melody-pricing:before {
  content: "\e920";
}
.melody-artist-management:before {
  content: "\e921";
}
.melody-artist-org:before {
  content: "\e922";
}
.melody-org:before {
  content: "\e923";
}
.melody-join-org:before {
  content: "\e924";
}
.melody-label:before {
  content: "\e925";
}
.melody-owner:before {
  content: "\e926";
}
