@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1er2f0');
    src: url('../fonts/icomoon.eot?1er2f0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1er2f0') format('truetype'),
    url('../fonts/icomoon.woff?1er2f0') format('woff'),
    url('../fonts/icomoon.svg?1er2f0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
}

.melody-icon {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 24px;
  line-height: 1;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.melody-artist:before {
  content: "\e900";
}
.melody-artist-management:before {
  content: "\e901";
}
.melody-group:before {
  content: "\e902";
}
.melody-join-group:before {
  content: "\e903";
}
.melody-label:before {
  content: "\e904";
}
.melody-owner:before {
  content: "\e905";
}