@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Atami Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Atami-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Atami Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Atami-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'melody_icons';
    src: url('../fonts/melody_icons.eot?36244805');
    src: url('../fonts/melody_icons.eot?36244805#iefix') format('embedded-opentype'),
    url('../fonts/melody_icons.woff2?36244805') format('woff2'),
    url('../fonts/melody_icons.woff?36244805') format('woff'),
    url('../fonts/melody_icons.ttf?36244805') format('truetype'),
    url('../fonts/melody_icons.svg?36244805#melody_icons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*Note these are required for storybook to work but also has additional redefinition in globals.css for NextJS site to work*/
.melody-none:before { content: '\e800'; } /* '' */
.melody-org:before { content: '\e801'; } /* '' */
.melody-org-tools:before { content: '\e802'; } /* '' */
.melody-owner:before { content: '\e803'; } /* '' */
.melody-pandora:before { content: '\e804'; } /* '' */
.melody-payment-settings:before { content: '\e805'; } /* '' */
.melody-kanban:before { content: '\e806'; } /* '' */
.melody-pricing:before { content: '\e807'; } /* '' */
.melody-promoters:before { content: '\e808'; } /* '' */
.melody-promotion:before { content: '\e809'; } /* '' */
.melody-promotion-pages:before { content: '\e80a'; } /* '' */
.melody-public-site:before { content: '\e80b'; } /* '' */
.melody-read:before { content: '\e80c'; } /* '' */
.melody-release-promotions:before { content: '\e80d'; } /* '' */
.melody-releases:before { content: '\e80e'; } /* '' */
.melody-send-email:before { content: '\e80f'; } /* '' */
.melody-settings:before { content: '\e810'; } /* '' */
.melody-site-builder:before { content: '\e811'; } /* '' */
.melody-sources:before { content: '\e812'; } /* '' */
.melody-staff-management:before { content: '\e813'; } /* '' */
.melody-tidal:before { content: '\e814'; } /* '' */
.melody-tiktok:before { content: '\e815'; } /* '' */
.melody-tools:before { content: '\e816'; } /* '' */
.melody-visibility:before { content: '\e817'; } /* '' */
.melody-accounting:before { content: '\e818'; } /* '' */
.melody-archive:before { content: '\e819'; } /* '' */
.melody-artist:before { content: '\e81a'; } /* '' */
.melody-artist-management:before { content: '\e81b'; } /* '' */
.melody-artist-org:before { content: '\e81c'; } /* '' */
.melody-audius:before { content: '\e81d'; } /* '' */
.melody-beatport:before { content: '\e81e'; } /* '' */
.melody-melody-bin:before { content: '\e81f'; } /* '' */
.melody-blog-post:before { content: '\e820'; } /* '' */
.melody-calendar:before { content: '\e821'; } /* '' */
.melody-content:before { content: '\e822'; } /* '' */
.melody-content-management:before { content: '\e823'; } /* '' */
.melody-csv:before { content: '\e824'; } /* '' */
.melody-email:before { content: '\e825'; } /* '' */
.melody-expenses:before { content: '\e826'; } /* '' */
.melody-favorite:before { content: '\e827'; } /* '' */
.melody-file-storage:before { content: '\e828'; } /* '' */
.melody-history:before { content: '\e829'; } /* '' */
.melody-home:before { content: '\e82a'; } /* '' */
.melody-iheartradio:before { content: '\e82b'; } /* '' */
.melody-image:before { content: '\e82c'; } /* '' */
.melody-income:before { content: '\e82d'; } /* '' */
.melody-info:before { content: '\e82e'; } /* '' */
.melody-join-org:before { content: '\e82f'; } /* '' */
.melody-label:before { content: '\e830'; } /* '' */
.melody-legal:before { content: '\e831'; } /* '' */
.melody-links:before { content: '\e832'; } /* '' */
.melody-merchandise:before { content: '\e833'; } /* '' */
.melody-apparel-order:before { content: '\e834'; } /* '' */
.melody-apparel-items:before { content: '\e835'; } /* '' */

